body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}
.navbar{
	background-color: #f6b319;
}
.header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border:0;
	margin-right: -15px;
	margin-left: -15px;

}
#logo-img{
	background: url('../img/logo.png') no-repeat;
	width: 150px;
	height:150px;
	margin: 0 15px 10px 0;
	float: left;
}
.navbar-brand{
	padding-top: 25px;
}
.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size:1.2em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-header a{
	float: left;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.container > .navbar-brand{
	width: 60%;
	text-align: left;

}

.navbar-light .navbar-nav .nav-link{
	font-size: 24px;
	color: #61122f;
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
}
.navbar-nav a:hover{
	background-color: #fff;
}
.nav-item > a{
	font-size: 24px;
	color: #61122f;
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	text-decoration: none;
}
.navbar-nav > li {
	margin: 5px;
	float: right;
}
.nav-item > a > .sub-exp{
	color:#557c3e;
	font-style: italic;
	font-size: 20px;
}
.navbar-collapse > ul {
	margin-top: 10px;
}
#navbarNavDropdown{
	padding-right: 0;
	text-align: right;
	margin-block-end: 0;
}
.container .jumbotron{
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #F0C1F;
}
#menu-tile, #specials-tile, #map-tile{
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile{
	background: url('../img/menu-tile.jpg') no-repeat;
	background-position: center;
}
#specials-tile{
	background: url('../img/specials-tile.jpg') no-repeat;
	background-position: center;
}
@media (min-width: 1200px){
	.container .jumbotron{
		background: url('../img/jumbotron_1200.jpg');
		height: 675px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.container{
		width: 970px;
	}
	#logo-img {
		background: url('../img/restaurant-logo_medium.png') no-repeato;
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0;
	}
	.container .jumbotron{
		background: url('../img/jumbotron_992.jpg') no-repeat;
		height: 558px;
	}
}@media (min-width: 576px) and (max-width: 991px){
	.container{
		width: 750px;
	}
	.container .jumbotron{
		background: url('../img/jumbotron_768.jpg') no-repeat;
		height: 432px;
	}
}
@media (max-width: 575px){
	.container{
		width: 600px;
	}
	.navbar{
		width: 600px;
	}
	.container .jumbotron{
		margin-top: 30px;
		padding:0;
	}
}